body {
  min-height: 75rem;
  Font-Family: 'Libre Franklin', Sans-Serif;
  Font-Size: 17px;
}

h1 {
  font-size:1rem;
  Font-Family: 'Cardo', Serif;
}

@media (min-width: 544px) {
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}

@media (min-width: 768px) {
  h1 {font-size:1.7rem;} /*1rem = 16px*/
}

@media (min-width: 992px) {
  h1 {font-size:2rem;} /*1rem = 16px*/
}

@media (min-width: 1200px) {
  h1 {font-size:3rem;} /*1rem = 16px*/
}

h6 {
  margin-bottom: 0px;
}

.photo-credit {
  margin-bottom: 0px;
}

#credit {
  font-size: .75rem;
}



.subtitle {
  font-size:0rem;
} /*1rem = 16px*/

@media (min-width: 544px) {
  .subtitle {font-size:0rem;} /*1rem = 16px*/
}

@media (min-width: 768px) {
  .subtitle {font-size:1.25rem;} /*1rem = 16px*/
}

@media (min-width: 992px) {
  .subtitle {font-size:1.5rem;} /*1rem = 16px*/
}

@media (min-width: 1200px) {
  .subtitle {font-size:2rem;} /*1rem = 16px*/
}

#map {
  /* max-height: inherit; */
  height: 600px;
}

.card {
  height: auto;
}

.scroll-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
