body {
  min-height: 75rem;
  Font-Family: 'Libre Franklin', Sans-Serif;
  Font-Size: 17px;
}

h1 {
  font-size:1.2rem;
  Font-Family: 'Cardo', Serif;
}

@media (min-width: 544px) {
  h1 {font-size:1.5rem;}
}

@media (min-width: 768px) {
  h1 {font-size:1.7rem;}
}

@media (min-width: 992px) {
  h1 {font-size:2rem;}
}

@media (min-width: 1200px) {
  h1 {font-size:3rem;}
}

h5 {
  font-size: .9rem;
}

@media (min-width: 544px) {
  h5 {font-size: 1.1rem;}
}

@media (min-width: 768px) {
  h5 {font-size:1.4rem;}
}

@media (min-width: 992px) {
  h5 {font-size:1.2rem;}
}

@media (min-width: 1200px) {
  h5 {font-size:1.4rem;}
}

h6 {
  font-size: .7rem;
}

@media (min-width: 544px) {
  h6 {font-size: .8rem;}
}

@media (min-width: 768px) {
  h6 {font-size:1.2rem;}
}

@media (min-width: 992px) {
  h6 {font-size:1.3rem;}
}

@media (min-width: 1200px) {
  h6 {font-size:1.1rem;}
}

.photo-credit {
  font-size: .7rem;
}

/* set font size to 0 at smallest viewport to make disappear */
.subtitle {
  font-size: 0rem;
}

@media (min-width: 544px) {
  .subtitle {font-size:0rem;}
}

@media (min-width: 768px) {
  .subtitle {font-size:1.25rem;}
}

@media (min-width: 992px) {
  .subtitle {font-size:1.5rem;}
}

@media (min-width: 1200px) {
  .subtitle {font-size:2rem;}
}

.popup-header {
  font-size: .8rem;
  Font-Family: 'Cardo', Serif;
  font-weight: bold;
}

@media (min-width: 544px) {
  .popup-header {font-size:1rem;}
}

@media (min-width: 768px) {
  .popup-header {font-size:1rem;}
}

@media (min-width: 992px) {
  .popup-header {font-size:1rem;}
}

@media (min-width: 1200px) {
  .popup-header {font-size:1rem;}
}

.popup-body {
  font-size: .6rem;
  Font-Family: 'Libre Franklin', Sans-Serif;
}

@media (min-width: 544px) {
  .popup-body {font-size:.8rem;}
}

@media (min-width: 768px) {
  .popup-body {font-size:.8rem;}
}

@media (min-width: 992px) {
  .popup-body {font-size:.8rem;}
}

@media (min-width: 1200px) {
  .popup-body {font-size:.8rem;}
}

#map {
  height: 600px;
}

.card {
  height: auto;
}

.scroll-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
