body {
  min-height: 75rem;
  color: "#fff";
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.container {
  outline: gray;
}

#map {
  width: 100%;
  height: 600px;
}

.scroll-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
